/* styles.css */

/* Estilos para o botão de login */
#login-button {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branca */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
}

/* Estilos para o formulário */
form {
    margin-top: 20px; /* Margem superior */
}

/* Outros estilos conforme necessário */
/* Estilo para o modal */
#myModal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Faz com que o modal fique posicionado fixamente na tela */
    z-index: 1; /* Define a ordem de empilhamento do modal */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adiciona uma barra de rolagem se o conteúdo do modal for maior que a janela do navegador */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
    padding-top: 60px; /* Espaçamento acima do modal */
}
/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centraliza o modal na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}
/* Estilo para o botão de fechar o modal */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myModal_contato {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Faz com que o modal fique posicionado fixamente na tela */
    z-index: 1; /* Define a ordem de empilhamento do modal */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adiciona uma barra de rolagem se o conteúdo do modal for maior que a janela do navegador */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
    padding-top: 60px; /* Espaçamento acima do modal */
}
/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centraliza o modal na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}
/* Estilo para o botão de fechar o modal */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myModal_agenda {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Faz com que o modal fique posicionado fixamente na tela */
    z-index: 1; /* Define a ordem de empilhamento do modal */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adiciona uma barra de rolagem se o conteúdo do modal for maior que a janela do navegador */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
    padding-top: 60px; /* Espaçamento acima do modal */
}
/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centraliza o modal na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}
/* Estilo para o botão de fechar o modal */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myModal_acesso {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Faz com que o modal fique posicionado fixamente na tela */
    z-index: 1; /* Define a ordem de empilhamento do modal */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adiciona uma barra de rolagem se o conteúdo do modal for maior que a janela do navegador */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
    padding-top: 60px; /* Espaçamento acima do modal */
}
/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centraliza o modal na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}
/* Estilo para o botão de fechar o modal */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myModal_recurso {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Faz com que o modal fique posicionado fixamente na tela */
    z-index: 1; /* Define a ordem de empilhamento do modal */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adiciona uma barra de rolagem se o conteúdo do modal for maior que a janela do navegador */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
    padding-top: 60px; /* Espaçamento acima do modal */
}
/* Conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centraliza o modal na tela */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}
/* Estilo para o botão de fechar o modal */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}