{% load static %}
<!-- Inclua o arquivo para controle do modal -->


<!-- Conteúdo do modal -->
<div id="myModal_recurso" class="modal">
    <!-- Conteúdo do modal -->
    <div class="modal-content">
        <!-- Botão para fechar o modal -->
        <span class="close" onclick="fecharModal()">&times;</span>
        <!-- Conteúdo do modal -->
        <h2>Formulário de Cadastro de Recursos</h2>
    
        <form method="post">
            {% csrf_token %}
            {{ form_recurso }}
            <button type="submit">Enviar</button>
        </form>
        
    </div>
</div>
