{% load static %}
<!-- Inclua o arquivo para controle do modal -->
<script src="{% static 'js/forms_modal/modal_contato.js' %}"></script>

<!-- Conteúdo do modal -->
<div id="myModal_contato" class="modal">
    <!-- Conteúdo do modal -->
    <div class="modal-content">
        <!-- Botão para fechar o modal -->
        <span class="close" onclick="fecharModal()">&times;</span>
        <!-- Conteúdo do modal -->
        <h2>Formulário de Cadastro de Contato</h2>
    
        <form method="post">
            {% csrf_token %}
            {{ form_contato }}
            <button type="submit">Enviar</button>
        </form>
        
    </div>
</div>

<!-- Script para fechar o modal ao clicar fora dele -->
<script>
    window.onclick = fecharModalFora;
</script>
